<h1><%= current_user.name %></h1>

<%= link_to '編集', edit_profile_path(@user) %>

<h2>mail address</h2>
<p><%= current_user.email %></p>

<% if current_user.comment.empty? %>
  <p>not setting</p>
<% else %>
  <p><%= current_user.comment %></p>
<% end %>

<h2>birthday</h2>
<% if @user.birthday.nil? %>
  <p>not setting</p>
<% else %>
  <p><%= @user.birthday %></p>
<% end %>

<h2>出身地</h2>
<% if @user.prefecture_id.nil? %>
  <p>not setting</p>
<% else %>
  <p><%= JpPrefecture::Prefecture.find(@user.prefecture_id).name %></p>
<% end %>

<h2>行ってみたいところ！</h2>
<% if @user.dream_place.nil? %>
  <p>not setting</p>
<% else %>
  <p><%= @user.dream_place %></p>
<% end %>
